<div class="col-lg-9 mb-4" id="table">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Titre</th>
        <th scope="col">Description</th>
        <th scope="col">Date</th>
        <th scope="col">Catégorie</th>
        <th scope="col">Statut</th>
      </tr>
    </thead>
    <tbody>
      <% missions.each do |mission| %>
        <tr id="<%= mission.id %>">
      <th scope="row"><%= mission.id %></th>
      <td><%= mission.title%></td>
      <td><%= mission.description%></td>
      <td><%= mission.start_date%></td>
      <td><%= mission.category.title%></td>
      <% if !mission.statut %>
        <td style="">En attente</td>
      <% else %>
        <td style="color: green;">Terminée</td>
      <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>