<head>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<%= render 'carousel' %>

<main id="main">

  <%= render 'about' %>
  <%= render 'whyus' %>
  <%= render 'operation' %>

<!-- ======= Create a Mission Section ======= -->
  <section id="book-a-table" class="book-a-table">
    <div class="container">

      <div class="section-title">
        <h2>Créer une <span>Mission</span></h2>
        <p>Pour créer une mission rien de plus simple, choisissez une catégorie et remplissez le formulaire</p>
        </br>
        <% if current_user && current_user.is_admin %>
          <p>En tant qu'admin, vous ne pouvez pas créer de mission.</p>
        <% elsif current_user && current_user.employed%>
          <p>En tant qu'employé, vous ne pouvez pas créer de mission</p>
        <% else %>
          <%= link_to "Créer une mission", new_mission_path, class: "btn btn-warning" %>
        <% end %>
      </div>
    </div>
  </section><!-- End Create a Mission Section -->

<!-- ======= Join a Team Section ======= -->
  <section id="book-a-table" class="book-a-table">
    <div class="container">

      <div class="section-title">
        <h2>Rejoindre <span>l'équipe</span></h2>
        <p>Eloigné du monde du travail ? vous recherchez de nouvelles opportunités ?</p>
        </br>

        <% if current_user && current_user.is_admin%>
          <p>En tant qu'admin, vous faites déjà parti de l'équipe.</p>
        <% elsif current_user && current_user.employed %>
          <p>Bienvenue dans l'équipe :)</p>
        <% else %>
          <p>Inscrivez-vous pour nous rejoindre !</p>
          <%= link_to "Rejoindre l'équipe", new_user_registration_path, class: 'btn btn-warning'%>
        <% end %>
      </div>
    </div>
  </section><!-- End Join a Team Section -->

  <%= render 'contact' %>

</main>
