<head>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>

<%= render 'carousel' %>

<main id="main">

  <%= render 'about' %>
  <%= render 'whyus' %>
  <%= render 'operation' %>

<!-- ======= Create a Mission Section ======= -->
  <section id="book-a-table" class="book-a-table">
    <div class="container">

      <div class="section-title">
        <h2>Créer une <span>Mission</span></h2>
        <p>Pour créer une mission rien de plus simple, choisissez une catégorie et remplissez le formulaire</p>
        </br>
        <% if current_user && current_user.is_admin %>
          <p>En tant qu'admin, vous ne pouvez pas créer de mission.</p>
        <% elsif current_user && current_user.employed%>
          <p>En tant qu'employé, vous ne pouvez pas créer de mission</p>
        <% else %>
          <%= link_to "Créer une mission", new_mission_path, class: "btn btn-warning" %>
        <% end %>
      </div>
    </div>
  </section><!-- End Create a Mission Section -->

<!-- ======= Join a Team Section ======= -->
  <section id="book-a-table" class="book-a-table">
    <div class="container">

      <div class="section-title">
        <h2>Rejoindre <span>L'équipe</span></h2>
        <p>Eloigné du monde du travail ? vous recherchez de nouvelles opportunités ?</p>
        </br>
        <% if current_user && current_user.is_admin%>
          <p>En tant qu'admin, vous faites déjà parti de l'équipe.</p>
        <% elsif current_user && current_user.employed %>
          <p>Bienvenue dans l'équipe :)</p>
        <% elsif current_user && !current_user.employed %>
          <%= link_to "Rejoindre l'équipe", user_path(current_user.id), method: 'put', class: 'btn btn-warning' %>
        <% else %>
          <p>Inscrivez-vous pour nous rejoindre !</p>
        <% end %>
      </div>
    </div>
  </section><!-- End Join a Team Section -->
=======
<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
      <div class="carousel-item active" style="background: url(https://i.imgur.com/6DwonXF.jpg);">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">Le Service de Concierge pour les Genevois</h2>
              <div>
               <a href="#about" class="btn-menu animate__animated animate__fadeInUp scrollto">Besoin d'aide?</a>
               <a href= "#" class="btn-book animate__animated animate__fadeInUp scrollto">Save Time Ask Me</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Slide 2 -->
        <div class="carousel-item" style="background: url(https://i.imgur.com/qLC4MDi.jpg);">
          <div class="carousel-container">
            <div class="carousel-content">
            <h2 class="animate__animated animate__fadeInDown">Vous manquez de temps ?</h2>  
              <div>
                <a href="#" class="btn-book animate__animated animate__fadeInUp scrollto">Créer une Mission</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Slide 3 -->
        <div class="carousel-item" style="background: url(https://i.imgur.com/K9hBnAh.jpg);">
          <div class="carousel-background"><img src="assets/img/slide/slide-3.jpg" alt=""></div>
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">Contactez-nous</h2>
              
              <div>
              
                <a href="#" class="btn-book animate__animated animate__fadeInUp scrollto"> Nous pouvons vous aider !</a>
              </div>
            </div>
          </div>
        </div>

      </div>

        <a class="carousel-control-prev" href="#" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"><i class="fas fa-arrow-circle-left"></i></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#" role="button" data-slide="next">
          <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true" ><i class="fas fa-arrow-circle-right"></i></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section class="about" id="about">
      <div class="container-fluid">

        <div class="row">

          <div class="col-lg-5 align-items-stretch video-box" style="background-image: url('https://i.imgur.com/hQsMQlb.jpg')">
            <a href="https://www.youtube.com/watch?v=WBmo11MbW0E&feature=youtu.be
            NOUVEAU
            " class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

            <div class="content">
              <h3>Réservation <strong>simple et rapide</strong></h3>
              <p> Vous êtes informé sur votre compte du statut de la mission que vous avez réservé.</p>
              
              <ul>
                <li><i class="bx bx-check-double"></i> - Renseigné la mission</li>
                <li><i class="bx bx-check-double"></i> - Identifiez-vous</li>
                <li><i class="bx bx-check-double"></i> - Vous n'êtes débités que si la mission est acceptée</li>
                <li><i class="bx bx-check-double"></i> - Suivez le statut de vos missions votre compte client</li>
                </ul>
                <p> Essayez nos services et parlez-en autour de vous ! Vous manquez de temps ? Nous en avons à vous consacrer.</p>              
            </div>

          </div>

        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Whu Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="section-title">
          <h2>Pourquoi <span>nous choisir</span></h2>
          <p></p>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="box">
              <span>01</span>
              <h4>Locale et solidaire</h4>
              <p>Staskme est une entreprise locale qui forme et réintègre sur le marché du travail des genevois/es trop longtemps éloignés/ées du marché du travail. Un emploi fixe avec un salaire digne !</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box">
              <span>02</span>
              <h4>Références vérifiées</h4>
              <p>Grâce à un partenariat avec l'OCE nous sommes en mesure de vous proposer des collaborateurs/rices dont les références ainsi que le casier judiciaire ont été vérifiés.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box">
              <span>03</span>
              <h4> Unique </h4>
              <p>Avec un prix unique de 100CHF quelque soit la mission choisie ainsi qu'une réservation simple et efficace.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Whu Us Section -->

  
    <!-- ======= Specials Section ======= -->
    <section id="specials" class="specials">
      <div class="container">

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">Nos méthodes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2">Contrat de confiance</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-3">Tarif unique</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-4">Frais de fonctionement ?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-5">Genève Ville ou Canton?</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Comment fonctionne Staskme ?</h3>
              
                    <p>Staskme vous propose des services de conciergerie de luxe à prix accessible. Choisissez un service, indiquez vos besoins et inscrivez-vous. Vous serez débités lorsque la mission sera acceptée.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/specials-1.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Puis-je faire confiance aux employés de Staskme ?</h3>
                  
                    <p>Les collaborateurs de Staskme nous sont pour la plupart envoyés par l’OCE (Office Cantonal de l’emploi) qui procède à un Back-ground check et assure un suivi de la formation interne de ceux-ci. 
                    Les candidats qui s’inscrivent spontanément par le biais de la plateforme sont dans un second temps convoqué par les Ressources humaines pour effectuer les procédures de recrutement. Un collaborateur validé a été précédemment validé par les RH.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/specials-2.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Pourquoi un prix unique de 100 CHF ?</h3>
                    <p>Ce tarif unique permet d’une part de rendre les transactions plus simples et d’autre part d’assurer un salaire TTC respectant la convention collective et cela que la mission/service dure 1h ou 3 heures.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/specials-3.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Quels sont les frais ponctionnés par Staskme auprès des collaborateurs ?</h3>
                    <p>Staskme ne ponctionne pas de frais sur ceux-ci, les collaborateurs reçoivent le même salaire que la mission dure 1h ou 3h. Il s’agit non pas d’indépendants mais de personnes engagées entre 40 et 80 %. 
                    Staskme utilise un espace de coworking et la gestion des missions est effectuée par un manager à 100%. Les Ressources Humaines sont gérées bénévolement par une association pour le développement économique solidaire en collaboration avec l’OCE. 
                    Nous essayons d’accomplir notre but en restreignant les dépenses comme les bureaux fixes ou le personnel administratif au maximum pour nous concentrer sur deux choses, offrir aux Genevois un service de qualité et offrir à nos collaborateurs une chance de se réinsérer durablement dans le marché de l’emploi.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/specials-4.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Est-il possible de réserver un service en dehors de la Ville de Genève ? Peut-on envoyer vos collaborateurs ailleurs sur le Canton ?</h3>
                    <p>Pour des raisons d’organisation et d’efficacité, nos services s’effectuent uniquement en Ville de Genève, cela permet à nos collaborateurs de pouvoir effectuer plusieurs missions par jour et nous permet également de maintenir un prix unique de 100 CHF.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/specials-5.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Specials Section -->

<

    <!-- ======= Book A Table Section ======= -->
    <section id="book-a-table" class="book-a-table">
      <div class="container">

        <div class="section-title">
          <h2>Créer une <span>Mission</span></h2>
          <p>Pour créer une mission rien de plus simple, choisissez une catégorie et remplissez le formulaire</p>
          </br>
          <a href="<%= new_mission_path %>" class="btn btn-warning">Créer une mission</a>
        </div>
      </div>
    </section><!-- End Book A Table Section -->

    <section id="book-a-table" class="book-a-table">
      <div class="container">

        <div class="section-title">
          <h2>Rejoindre <span>L'equipe</span></h2>
          <p>Eloigné du monde du travail ? vous recherchez de nouvelles opportunités ?</p>
          </br>
          <% if current_user %>
          <%= link_to "Rejoindre l'équipe", user_path(current_user.id), method: 'put', class: 'btn btn-warning' %>
          <% else %>
            <p>Inscrivez-vous pour nous rejoindre !</p>
          <% end %>
        </div>
          </div>
    </section>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2><span>Contactez-nous</span></h2>
          <p>Une question ? Besoin d'information ? Nous sommes là pour vous aider.</p>
        </div>
      </div>

      <div class="map">
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d44174.185941779884!2d6.147276799999999!3d46.21271039999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c65263a9dad07%3A0x787722b220fcb664!2sRue%20de%20Chantepoulet%201%2C%201201%20Gen%C3%A8ve!5e0!3m2!1sfr!2sch!4v1600353697989!5m2!1sfr!2sch" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>

      <div class="container mt-5">

        <div class="info-wrap">
          <div class="row">
            <div class="col-lg-3 col-md-6 info">
            <i class="fas fa-map-signs"></i>
              <h4>Adresse:</h4>
              <p>1 rue de Chantepoulet <br>1201 Genève</p>
            </div>

            <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
            <i class="fas fa-clock"></i>
              <h4>Horaires:</h4>
              <p>Lundi-Dimanche:<br>07:00 - 23h00</p>
            </div>

            <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
            <i class="fas fa-envelope"></i>
              <h4>Courriel:</h4>
              <p>staskme@dataddict.info<br></p>
            </div>

            <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
            <i class="fas fa-phone-square-alt"></i>
              <h4>Téléphone:</h4>
              <p>022/ 320 00 00<br></p>
            </div>
          </div>
        </div>
        </form>